.DS_Store

blog-site/node_modules

blog-site/lib/core/metadata.js
blog-site/lib/core/MetadataBlog.js

blog-site/website/translated_docs
blog-site/website/build/
blog-site/website/yarn.lock
blog-site/website/node_modules
blog-site/website/i18n/*
